<!DOCTYPE html>
<html>
  <head>
    <title>Not Found</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <style type="text/css">
      html {
          font-size: 62.5%;
      }
      body {
          background-color: #fff;
          color: #000;
          font-family: helvetica, arial, sans-serif;
          font-size: 1.4em;
          line-height: 1.5;
      }
      .centered {
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .emoji {
        font-size: 10em;
        text-align: center;
      }
      .title {
        font-size: 4em;
        text-align: center;
        line-height: 0em;
        color: grey;
      }
      .text {
        text-align: center;
        font-size: 1.2em;
        color: #555;
      }
    </style>
  </head>
  <body class="centered">
    <div class="emoji">🧐</div>
    <p class="title"><code><%= path %></code></p>
    <p class="text">
    I couldn't find any mock file for this path!
    </p>
    <p class="text">
    Check if a file exists at <code>mocks<%= path %>.json</code>
    </p>
  </body>
</html>
